@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.svg-icons{
  width: 15px;
  color: gray;
  display: inline-block !important;
}

.label{
  border: 0.0625rem solid grey;
    border-radius: 2em;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 18px;
    padding: 0 7px;
    white-space: nowrap;
}

.svg-tech-icon{
  width: 15px;
  color: goldenrod;
  display: inline-block !important;
}
